<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="javascripts/react.js"></script>
    <script src="javascripts/react-dom.js"></script>
    <script src="javascripts/browser.min.js"></script>
    <!--<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>-->
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <div id="root"></div>
    <h2>Ha ha ha</h2>
    <script type="text/babel" src="app/vd2.js"></script>
  </body>
</html>
